#ifndef SECRETS_H
#define SECRETS_H

// ================= WIFI CREDENTIALS =================
#define WIFI_SSID     "YOUR_WIFI_SSID_HERE"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD_HERE"

// ================= SECURE MQTT CREDENTIALS =================
#define MQTT_SERVER   "YOUR_HIVEMQ_CLOUD_URL_HERE.s1.eu.hivemq.cloud"
#define MQTT_PORT     8883
#define MQTT_USER     "YOUR_MQTT_USERNAME_HERE"
#define MQTT_PASS     "YOUR_MQTT_PASSWORD_HERE"

#endif
